/* Importing CSS Files */
@import "header.css";
@import "footer.css";

/* Style of the contact us menu */
.contact-us{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  left: -8.5%;
  bottom: -2.7%;
}

/* Form style */
form{
  background: var(--primary-color);
  width: 500px;
  padding: 30px;
  font-size: 18px;
  border-radius: 25px;
}

.message-icon{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.message-icon i{
  font-size: 40px;
}

.message-icon span{
  font-size: 22px;
  font-weight: bold;
  margin-left: 15px;
}

form input, textarea{
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
}

#input-field{
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

#input-field i{
  font-size: 22px;
  margin-right: 15px;
}

.send-btn{
  width: 100px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;
  padding: 6px 0;
  border-radius: 50px;
  transition-duration: 0.5s;
}

.send-btn:hover{
  width: 120px;
}

.bi {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.i-t /*input-textarea*/{
  color: var(--secondary-color);
  background-color: var(--primary-color);
}