/* Importing CSS Files */
@import "header.css";
@import "footer.css";
@import "overview.css";
@import "contact-us.css";
@import "extras.css";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 100px;
}
.overview{
  height: 1080px;
  width: 1920px;
  display: inline-block;
  background-color: beige;
}

.game-info{
  height: 1080px;
  width: 1920px;
  display: inline-block;
  background-color: blue;
}
.how-to-play{
  height: 1080px;
  width: 1920px;
  display: inline-block;
  background-color: violet;
}
.about-us{
  height: 1080px;
  width: 1920px;
  display: inline-block;
  background-color: green;
}
.contact-us{
    height: 1080px;
    width: 1920px;
    display: inline-block;
    background-color: pink;
}

.download-btn{
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  background-color: transparent;
  border: 2px;
  border-style: solid;
  border-color: rgb(222, 13, 13);
  color: white;
  cursor: pointer;
  font-size: 40px;
  top: 60%;
  left: 43%;
  z-index: 2;
  height: 70px;
  width: 18%;
  border-radius: 35px;
  transition: 0.4s;
}
.download-btn:hover{
  top: 58%;
}
#game-video{
  filter: blur(3px);
}